@charset "UTF-8";
body h2{
    font-size: 40px;
    color: rgb(0, 26, 255);
}   
body p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(154, 143, 0);
}
div.interface{
    margin: 60px;
}
section{
    font-size: 50px;
    width: 100%;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    color: rgb(0, 26, 255);
    box-shadow: 0px 0px 10px #8681eefa;
    text-align: justify;
}
div.interface h1{
    text-align: center;
    background: #7a0198ae;
    background: -webkit-linear-gradient(bottom right, #7a0198a7, #243189a4);
    background: -moz-linear-gradient(bottom right, #7a0198aa, #2431899f);
    background: linear-gradient(to top left, #7a01989a, #24318994);
}
figure img#lunar{
    display: block;
    position: sticky;
    left: 1000px;
    width: 100px;
}
.boxs{
    border: 2px;
    margin: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px #6483fffa;
    background-color: rgba(4, 21, 175, 0.611);
}
aside#intercafe-asise{
    border-radius: 15px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0px 0px 10px #6483fffa;
}
aside#intercafe-asise p{
    max-width: 100%;
    max-height: 100%;
    margin: 10px;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px black;
}
div#form-cabecalho{
    height: 10px;
    border: 1px rgb(79, 0, 101) solid;
    text-align: justify;
}
label{
    width: 1px;
}
nav#rodape {
    display: block;
}
nav#rodape ul{
    list-style: none;
}
nav#rodape li {
    display: inline-block;
}
div#rodape{
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    right: 10px;
    border: rgb(0, 0, 0);
}
footer{
    text-align: center;
    color: rgb(170, 212, 0);
    border-top: 3px solid rgb(255, 255, 255);
}