@charset "UTF-8";
body {
    background: url("../imagens/fundo.png");
    background-size: cover;
}
body h1{
    font-size: 50px;
    color: rgb(0, 26, 255);
}
body h2{
    font-size: 40px;
    color: rgb(0, 26, 255);
}
body p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(154, 143, 0);
}
figure img#lunar{
    display: block;
    position: sticky;
    left: 1000px;
    width: 100px;
}
div#intercafe-cabecalho {
        max-width: 100%;
        width: 1100px;
        margin: 40px auto 0px auto;
        padding: 10px;
        box-shadow: 0px 0px 10px #8681eefa;
}
div#intercafe-cabecalho h1{
    text-align: center;
}
div.introHeader{
    display: inline;   
}
.boxs{
    border: 2px;
    text-align: center;
    box-shadow: 0px 0px 10px #8681eefa;
    background-color: rgba(33, 0, 178, 0.415);
}
aside#intercafe-asise p{
    max-width: 100%;
    max-height: 100%;
    margin: 10px;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px black;
}
div#form-cabecalho{
    height: 10px;
    border: 1px rgb(79, 0, 101) solid;
    text-align: justify;
}
label{
    width: 1px;
}
nav#rodape {
    display: block;
}
nav#rodape ul{
    list-style: none;
}
nav#rodape li {
    display: inline-block;
}
div#rodape{
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    right: 10px;
    border: rgb(0, 0, 0);
}
footer{
    text-align: center;
    color: rgb(170, 212, 0);
    border-top: 3px solid rgb(255, 255, 255);
}